<!DOCTYPE html>
<html>
	<head>
		<title>Explosive/Misc Recipes</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<hl>Explosive/Misc Recipes</hl>
		<div class="video">
			<p>
				Thermite: 1 parts aluminum powder 3 parts iron oxide
				Molotov Cocktail: 1 part gasoline 1 part motor oil and a gasoline soaked rag in the bottle neck
				Mace Substitute: 3 parts alcohol 1 part iodized salt
				Napalm: ·  Pour some gas into an old bowl, or some kind of container.
				·  Get some styrofoam and put it in the gas, until the gas won't eat anymore. You should have a sticky syrup.
				·  Put it on the end of something (don't touch it!!). The unused stuff lasts a long time!
			</p>
			<a href=""{{ url_for('main') }}">Return To Homepage</a>
		</div>
	</body>
</html>